* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body,html {
    height: 100%;
}

.clear {clear: both;}
.center {max-width: 1280px;margin: 0 auto; padding: 0 2%; width: 100%;height: 100%;}

header {
    background-color: rgba(0,0,0,0.3);
    height: 70px;
    transition: 0.3s;

    .logo {
        position: relative;
        top: 10px;
        height: 100%;
        font-weight: lighter;
        float: left;

        img {
            width: 50px;
            height: 50px;
        }

        a {
            text-decoration: none;
            color: white;
            font-size: 25px;
            line-height: 70px;
        }
    }

    .nav-mobile {
        display: none;
        float: right;
        line-height: 70px;
        margin-right: 10px;
        color: white;

        h3 {cursor: pointer;}
        
        ul {
            position: absolute;
            z-index: 1;
            top: 70px;
            left: 0px;
            width: 100%;
            height: 0px;
            overflow-y: hidden;
            background-color: white;
            text-align: center;
            transition: 0.3s;

            li {
                transition: 0.3s;
                cursor: pointer;

                &:hover {background-color: #ececec;}

                a {
                    text-decoration: none;
                    color: #4b4b4b;

                }
            }
        }

    }

    .nav-desktop {
        float: right;

        li {
            cursor: pointer;
            display: inline-block;
            transition: 0.3s;

            &:hover {
                background-color: rgba(49, 49, 49, 0.3);
                border-radius: 10px;
            }

            a {
                font-weight: lighter;
                line-height: 70px;
                width: 100%;
                height: 100%;
                color: white;
                text-decoration: none;
                padding: 0 15px;
            }
        }

    }
}

// Section CHAMADA PRINCIPAL

section.chamada-principal {
    position: relative;
    background-image: url('../images/chamada.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
    }

    .person-chamada {
        width: 40%;
        height: 100%;
        float: left;

        .person-img {
            position: relative;
            width: 100%;
            max-width: 600px;
            height: 100%;
            background-image: url('../images/person.png');
            background-size: cover;
            background-position: center;
            margin: 0 auto;
        }
    }

    .chamada-email {
        position: relative;
        text-align: center;
        width: 60%;
        max-width: 800px;
        height: 100%;
        float: left;
        z-index: 0;

        img {
            width: 120px;
            height: 120px;
        }

        .form-chamada {
            position: relative;
            z-index: 1;
            top: 40%;
            transform: translateY(-50%);
            width: 100%;
            padding: 0 2%;

        }

        h2 {
            color: white;
            font-weight: lighter;
            margin: 20px 0;
        }

        input[type=email] {
            width: 100%;
            height: 45px;
            border-radius: 10px;
            border: 0;
            padding-left: 10px;
            outline: 0;
            font-size: 17px;
        }

        input[type=submit] {
            margin-top: 15px;
            width: 100%;
            max-width: 200px;
            height: 45px;
            border-radius: 15px;
            border: 0;
            color: white;
            background-color: #7c2095;
            font-weight: lighter;
            font-size: 16px;
            outline: 0;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                background-color: #681a7e;
            }
        }
    }

}

// Section SOBRE

section.sobre {
    position: relative;
    background-color: rgb(235, 235, 235);
    width: 100%;
    max-height: 600px;
    padding: 50px 0;

    .img-fundador {
        float: left;
        width: 40%;
        text-align: center;
        
        img {width: 80%; border-radius: 45px;}
    }

    .texto-chamada-principal {
        color: #777;
        padding: 0 30px;
        float: right;
        width: 60%;

        h2 {
            margin-top: 20px;
            font-size: 28px;
            font-weight: lighter;
            margin-bottom: 30px;
        }
        
        p {
            font-size: 17px;
            font-weight: lighter;
            margin-bottom: 30px;
        }

        .btn-redes-sociais {
            width: 100%;

            a {
                text-decoration: none;
                color: white;
                padding: 12px 18px;
                border-radius: 2px;
                margin-right: 10px;
                transition: 0.3s;
            }
    
            a.insta {
                color: #dd4a72;
                border: 2px solid  #dd4a72;
                
            
                &:hover {
                    // background-image: linear-gradient(to right, #6867d6, #954dc2, #dd4a72, #ee8b64, #fdcf76);
                    background-color: #dd4a72;
                    transition: 0.3s;
                    color: white;
                    border: 2px solid  #dd4a72;
                }
            }
    
            a.yt {
                color: #d32f2f;
                border: 2px solid #d32f2f;
    
                &:hover {
                    background-color: #d32f2f;
                    color: white;
                }
            }

        }

    }
}

section.anuncio {
    position: relative;
    background-image: url('../images/bg-video.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    padding: 40px 0;
    padding-bottom: 120px;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.2);
    }

    .center {max-width: 960px;}

    h2.title-anuncio, p.sub-title {color: red;text-align: center; width: 100%;position: relative;z-index: 1;}
    h2.title-anuncio {font-size: 50px;padding-top: 50px;}
    p.sub-title {color:white; font-size: 25px;margin-bottom: 40px;}

    .video-anuncio {
        background-color: white;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;
        border-radius: 10px;
        position: relative;
        z-index: 1;

        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: 0;
            width: 98%;
            height: 97%;
        }

    }

    h6 {
        margin-top: 10px;
        color: white;
        text-align: center;
        font-size: 15px;
        font-weight: normal;
    }


    .preco-anuncio {
        position: relative;
        z-index: 1;
        text-align: center;

        h2 {
            margin-top: 20px;
            color: white;
            font-weight: normal;

            b {text-decoration: line-through; font-size: 25px;}
        }

        p {
            margin-top: 15px;
            color: white;
            font-size: 21px;

            b {
                color: orange;
                font-size: 25px;
            }

        }

        span {
            font-size: 15px;
            color: white;
        }
    }
    

    a.btn-chamada {
        position: relative;
        z-index: 1;
        margin-top: 30px;
        display: block;
        text-decoration: none;
        color: white;
        background-image: linear-gradient(#00d48e, #00a36d);
        width: 100%;
        padding: 10px;
        top: 50%;
        text-align: center;
        font-size: 21px;
        border-radius: 20px;
        border-bottom: 4px solid #009060;

        &:hover {
            background-image: linear-gradient(#00cc88, #00b87a);
        }
    }
}

section.descricao {
    padding: 90px 0;
    padding-top: 30px;
    background-color: rgb(235, 235, 235);

    h2.title-descricao {
        color: #777;
        text-align: center;
        margin-bottom: 60px;
    }

    .descricao-single {
        padding: 0 10px;
        width: 33.3%;
        float: left;
        text-align: center;

        h3 {
            font-size: 50px;
            color: #4e5d94;
            margin-bottom: 10px;
        }

        .text-desc {
            p {
                color: #4b4b4b;
            }
        }
    }

}

.footer-top {
    background-color: #953cbe;
    color: white;
    padding: 15px 0;
    padding-bottom: 30px;
    text-align: center;

    p {margin-bottom: 10px;}

    a.btn-whats {
        background-color: rgb(12, 194, 12);
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 19px;

        &:hover {background-color: rgb(12, 211, 12);}
    }

    a.btn-yt {
        background-color: rgb(209, 5, 5);
        color: white;
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 19px;

        &:hover {background-color: rgb(231, 5, 5);}
    }

    a.btn-insta {
        background-color: rgb(228, 63, 91);
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 19px;

        &:hover {background-color: rgb(255, 70, 101);}
    }

    a.btn-discord {
        background-color: #4e5d94;
        color: white;
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 19px;

        &:hover {background-color: #6073b6;}
    }
}

footer {
    width: 100%;
    background-color: #8822c7;
    color: white;
    text-align: center;
    padding: 15px 0;
}

@media (max-width:768px) {
    .descricao-single {
        width: 100% !important;
        float: none !important;
        margin-bottom: 50px;
    }

    .person-chamada {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        float: none !important;
    }

    .chamada-email {
        position: absolute !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        float: none !important;

        .form-chamada {img {display: none !important;}}
    }

    .img-fundador {
        float: none !important;
        width: 100% !important;
        img {width: 50% !important;}
    }

    .texto-chamada-principal {
        width: 100%;
        color: #777;
        padding: 0 30px;
        text-align: center !important;
        float: none !important;
        width: 100% !important;
    }

    section.sobre {max-height: none !important;}
}

@media (max-width:500px) {
    .nav-desktop {display: none !important;}
    .nav-mobile {display: block !important;}
}

@media (max-width:375px) {

    a.insta {display: block;margin-bottom: 10px;}
    a.yt {display: block;}
    h2.title-anuncio {font-size: 36px !important;}

    section.anuncio {
        .center {max-width: none !important;}
    }

    .texto-chamada-principal {
        h2 {font-size: 24px !important;}
    }

    .btn-chamada {font-size: 18px !important;}
}